{block content}
<div class="row">
<div class="col-md-3">
<div class="list-group">
  <a n:href="Account:" class="list-group-item">{_admin.account.menu.item1}</a>
  <a n:href="Account:settings" class="list-group-item">{_admin.account.menu.item2}</a>
  <a n:href="Account:changePassword" class="list-group-item active">{_admin.account.menu.item3}</a>
</div>
</div>
<div class="col-md-9">
  <p>{_admin.account.changePassword.info}</p>
  {control changePasswordForm}
</div>
</div>