#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

#DB localhost
database:
	dsn: 'mysql:host=127.0.0.1;dbname=pallete'
	user: root
	password:
	options:
		lazy: yes

#DB produkční server
#database:
#	dsn: 'mysql:host=127.0.0.1;dbname=test'
#	user:
#	password:
#	options:
#		lazy: yes

services:
	- Kdyby\Events\DI\EventsExtension
	- App\Model\Authenticator
	- App\Model\UserService
	- App\Model\ArticleService
	- App\Model\Repository\UserRepository
	- App\Model\Repository\ArticleRepository
	- App\Model\Mapper\Db\UserDatabaseMapper
	- App\Model\LogService
	- App\Model\Repository\LogRepository
	- App\Model\Mapper\Db\LogDbMapper
	- App\Model\Mapper\Db\ArticleDatabaseMapper
	- App\Model\Mapper\File\ImageMapper
	LogListener:
		class: App\Model\LogListener
		tags: [kdyby.subscriber]

	router: App\RouterFactory::createRouter

constants:
	systemName: Pallete
	articleImagesPath: 'data\article_images\'#'\pallete\www\data\article_images\'

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	default: cs
	whitelist: [cs, de, en]
	fallback: [cs_CZ, cs]
	debugger: on