#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

#DB localhost
#database:
#	dsn: 'mysql:host=127.0.0.1;dbname=pallete'
#	user: root
#	password:
#	options:
#		lazy: yes

#DB produkční server
database:
	dsn: 'mysql:host=c049um.forpsi.com;dbname=f70576'
	user: f70576
	password: k9tnEb5
	options:
		lazy: yes

services:
	- Kdyby\Events\DI\EventsExtension
	- App\Model\Authenticator
	- App\Model\UserService
	- App\Model\ArticleService
	- App\Model\GalleryService
	- App\Model\OfferService
	- App\Model\Repository\UserRepository
	- App\Model\Repository\ArticleRepository
	- App\Model\Repository\GalleryRepository
	- App\Model\Repository\OfferRepository
	- App\Model\Mapper\Db\UserDatabaseMapper
	- App\Model\Mapper\Db\GalleryDatabaseMapper
	- App\Model\Mapper\Db\OfferDatabaseMapper
	- App\Model\LogService
	- App\Model\Repository\LogRepository
	- App\Model\Mapper\Db\LogDbMapper
	- App\Model\Mapper\Db\ArticleDatabaseMapper
	- App\Model\Mapper\File\ImageMapper
	LogListener:
		class: App\Model\LogListener
		tags: [kdyby.subscriber]
	GalleryImageListener:
		class: App\Model\GalleryImageListerner
		tags: [kdyby.subscriber]
	SendEmailListener:
		class: App\Model\SendEmailListener
		tags: [kdyby.subscriber]
	router: App\RouterFactory::createRouter

constants:
	systemName: Pallete
	articleImagesPath: 'data/article_images/'#'\pallete\www\data\article_images\'
	offerImagesPath: 'data/offer_images/'
	galleryPath: 'data/gallery/'
	adminEmail: 'admin@pallete.cz'
extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

translation:
	default: cs
	whitelist: [cs, de, en]
	fallback: [cs_CZ, cs]
	debugger: on