commons:
  modal:
    buttons:
      ok: 'Uložit'
      cancel: 'Zavřít'
  error: 'Položka nebyla nalezena'
  date: 'Datum'
header:
    settings: 'Nastavení'
    account: 'Účet'
    logout: 'Odhlásit se'
menu:
    item1: 'Nástěnka'
    item2: 'Novinky'
    item3: 'Nabídka'
    item4: 'Galerie'
    item5: 'Nastavení'
footer:
    about: 'O systému'
    doc: 'Dokumentace'
    modal:
        title: 'O systému Asterix'
        version: 'Verze systému'
        nette: 'Verze Nette frameworku'
        boot: 'Twitter Bootstrap'
        server: 'Server'
        date: 'Datum'
account:
    title: 'Účet'
    settings:
        name: 'Nastavení'
        title: 'Nastavení účtu'
    changePassword:
        title: 'Změnit heslo'
        new: 'Nové heslo'
        new2: 'Opakuj heslo'
        info: 'Na tvůj email přijde oznámení o tom, že proběhla změna hesla.'
    menu:
        item1: 'Účet'
        item2: 'Nastavení'
        item3: 'Změna hesla'
dashboard:
    title: 'Nástěnka'
    subtitle: 'Základní informace a novinky'
    loginInfo: 'Přihlásil ses jako uživatel %s'
article:
  title: 'Novinky'
  subtitle: 'Přehled všech novinek'
  empty: 'Žádné články k zobrazení'
  notFound: 'Článek neexistuje'
  delete: 'Článek byl úspěšně odstraněn'
  buttons:
    add: 'Přidat'
    edit: 'Upravit'
    back: 'Zpět na výpis'
  addModal:
    title: 'Přidat novinku'
    editTitle: 'Upravit %title%'
  form:
    title: 'Nadpis'
    text: 'Text článku'
    image: 'Obrázek'
    imageError: 'Soubor musí být obrázek ve formátu JPEG, GIF nebo PNG'
    submit: 'Uložit'
    language: 'Jazyk'
    translate: 'Překlad článku'
    exists: 'Článek s tímto nadpisem už je v databázi. V každé jazykové verzi musí být unikátní název článku. Zvol jiný nadpis.'
    success: 'Článek byl úspěšně uložen.'
    required: 'Nevyplnil jsi pole %text%'
    keywords: 'Klíčová slova'
    keywordsHelp: 'Klíčová slova odděluj čárkou'
    description: 'Popis článku'
    keywordsRequired: 'Nevyplnil jsi klíčová slova.'
    descriptionRequired: 'Nevyplnil jsi HTMl popis článku.'
    keywordsInfo: 'Klíčová slova a popis jsou důležitá pro vyhledávače. Doplň je.'
    htmlTitle: 'Informace pro vyhledávače'
gallery:
  title: 'Správce galerií'
  subTitle: 'Přehled všech galerií'
  buttons:
    create: 'Vytvořit galerii'
  panelTitle: 'Všechny galerie'
  empty: 'Žádné galerie k zobrazení'
  form:
    title: 'Vytvořit galerii'
    editTitle: 'Upravit galerii %title%'
    uploadTitle: 'Nahrát obrázky do galerie %title%'
    name: 'Název galerie'
    description: 'Popis'
    language: 'Jazyk'
    translate: 'Překlad galerie'
    help: 'Pokud vytváříš překlad článku, není potřeba znovu vkládat obrázky. Přiřadí se automaticky.'
    imageHelp: 'Nahrávej pouze obrázky je formátu JPEG, GIF nebo PNG'
    required: 'Nevyplnil jsi pole %text%'
    button: 'Uložit'
    image: 'Nahrát obrázky'
    imageError: 'Soubor musí být obrázek ve formátu JPEG, GIF nebo PNG'
    success: 'Galerie byla úspěšně vytvořena.'
    editSuccess: 'Galerie byla úspěšně upravena.'
    imageSuccess: 'Obrázky byly úspěšně nahrány'
  delete: 'Odstranit'
  edit: 'Upravit'
  upload: 'Nahrát obrázky'
  open: 'Otevřít'
  deleteSuccess: 'Galerie byla úspěšně odstraněna'
  imageDeleteSuccess: 'Obrázek byl úspěšně odstraněn.'
  imageNotFound: 'Obrázek nebyl nalezen. Opakuj akci později'
  notImages: 'Galerie neobsahuje žádné obrázky.'
  exists: 'Galerie title již existuje'
  detail:
    title: 'Galerie %title%'
offer:
  title: 'Nabídka'
  subtitle: 'Přehled všech nabídek'
  empty: 'Žádné nabídky k zobrazení'
  notFound: 'Nabídka neexistuje'
  delete: 'Nabídka byla úspěšně odstraněna'
  buttons:
    add: 'Přidat'
    edit: 'Upravit'
    back: 'Zpět na výpis'
  addModal:
    title: 'Přidat nabídku'
    editTitle: 'Upravit %title%'
  form:
    title: 'Nadpis'
    text: 'Text nabídky'
    image: 'Obrázek'
    imageError: 'Soubor musí být obrázek ve formátu JPEG, GIF nebo PNG'
    submit: 'Uložit'
    language: 'Jazyk'
    translate: 'Překlad nabídky'
    exists: 'Nabídka s tímto nadpisem už je v databázi. V každé jazykové verzi musí být unikátní název nabídky. Zvol jiný nadpis.'
    success: 'Nabídka byla úspěšně uložena.'
    required: 'Nevyplnil jsi pole %text%'
    keywords: 'Klíčová slova'
    keywordsHelp: 'Klíčová slova odděluj čárkou'
    description: 'Popis článku'
    keywordsRequired: 'Nevyplnil jsi klíčová slova.'
    descriptionRequired: 'Nevyplnil jsi HTMl popis článku.'
    keywordsInfo: 'Klíčová slova a popis jsou důležitá pro vyhledávače. Doplň je.'
    htmlTitle: 'Informace pro vyhledávače'