commons:
    currency: 'Kč'
    back: 'Zpět'
    more: 'Více'
login:
    title: 'Přihlášení do systému'
    email: 'Email'
    password: 'Heslo'
    button: 'Přihlásit se'
    notFound: 'Uživatel s tímto emailem nebyl nalezen.'
    invalidCredential: 'Chybně zadané heslo.'
    success: 'Přihlášení proběhlo úspěšně.'
    forgetPassword: 'Zapomněl jsi heslo? Nevadí, <a n:href="Sign:forget">zde</a> si ho můžeš změnit.'
    footer: ''
logout: 'Byl jsi úspěšně odhlášen'
offer:
    title: 'Naše nabídka'
    empty: 'Neexistuje žádná nabídka.'
gallery:
    title: 'Seznam galerií'
    empty: 'Žádná galerie k zobrazení.'
    notImages: 'Omlouváme se, ale v této galerii momentálně není žádný obrázek.'
news:
    title: 'Novinky'
    empty: 'Nejsou zde žádné novinky'
contact:
    title: 'Kontakt'
    infoTitle: 'Informace pro velkoobchod'
    form:
        title: 'Kontaktujte nás'
        name: 'Jméno a příjmení'
        email: 'Email'
        text: 'Váš dotaz'
        button: 'Odeslat'
        required: 'Nevyplnil jste pole %text'
        emailFormat: 'Email má špatný formát'
        success: 'Děkujeme za váš dotaz. Čekejte na odpověď.'
footer:
    imageTitle: 'Poslední přidané obrázky'
    contact: 'Kontakt'
    text: 'Všechna práva vyhrazena'
menu:
    item1: 'Domů'
    item2: 'Nabídka'
    item3: 'Novinky'
    item4: 'Galerie'
    item5: 'Kontakt'
    language: 'Jazyk'